{% comment %}
Step 1: Display the section_title in an h1 in the container.

Step 2: Iterate through the section blocks, creating new divs with each block. Display the block heading in an h2 and the block text_content in a paragraph.

Step 3: Using the Shopify asset tags, display the block images.

Step 4: Build a button using the block cta text and cta link. Display only if the block settings are present (selected in the editor).

Step 5: Push your work up to a new github branch and create a new pull request.
{% endcomment %}

<div class="container">

</div>

{% schema %}
  {
    "name": {
      "en": "Blocks - Example"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": {
          "en": "Section Heading"
        }
      }
    ],
    "blocks": [
      {
        "type": "Text",
        "name": "Static block",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Block heading"
          },
          {
            "type": "html",
            "id": "text_content",
            "label": "Text Content",
            "default": "<p>This is text content.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text"
          },
          {
            "type": "url",
            "id": "cta_link",
            "label": "CTA Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "es": "Alt blocks - Example",
          "en": "Alt blocks - Example"
        },
        "category": {
          "en": "Blocks",
          "es": "Blocks"
        }
      }
    ]
  }
{% endschema %}
